include LICENSE
include README.md
include ROADMAP.md
include requirements.txt
include completion.zsh
include Makefile
include Dockerfile
include ldapie

recursive-include tests *.py
recursive-include src *.py
